<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>


    {% if "user_name" in session %}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">


        <a class="navbar-brand" type="button" href="/{{user_id}}">Профиль
            {{user_name}}</a>


        <a class="navbar-brand" href="/news">Записи</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >
                Поиск
            </button>
        </form>
        </div>
    </nav>
    {% endif %}


</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>