{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Регистрация</h1>
<form action="" method="post" novalidate class="text-center">
    {{ form.hidden_tag() }}
    <p>
        {{ form.user_name.label }}<br>
        {{ form.user_name }}<br>
        {% for error in usernameerrors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {% for error in passworderrors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <!---->
    <!--<p>{{ form.admin() }} {{ form.admin }}</p>-->
    <!---->
    <p>{{ form.submit() }}</p>
    <a class="btn btn-outline-secondary" href="/login">Авторизация</a>


</form>
{% endblock %}