{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
                    initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<p><img src="{{avatar}}" alt="error 404"></p>
<p><{{status}}>  <a class="btn btn-outline-danger" href="/switch">Переключить</a></p>


<p><a class="btn btn-outline-danger" href="/logout">Выйти</a></p>
</body>
</html>
{% endblock %}